.dashboard {
  margin: 10px;
}
.dashboard__columns {
  display: flex;
  gap: 10px;
}

.column {
  background-color: lightblue;
  flex: 1;
  border-radius: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 1px 2px #aa878f;
  height: fit-content;
}
.column__cards {
  border-radius: 5px;
  margin: 10px auto;
  width: 90%;
}

.employee-card {
  border: 2px solid grey;
  background-color: bisque;
  margin: 5px auto;
}

.dashboard_header {
  display: flex;
  justify-content: space-between;
}

.add_new_employee_button {
  background-color: lightsalmon;
  padding: 12px 12px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px salmon;
}

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal_content {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  min-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid red;
}
